/* style.css */

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;
    background-color: rgba(4, 82, 228, 0.377);
}

.logo {
    display: flex;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: red;
}

img {
    width: 300px;
    height: auto;
}

.header-img {
    display: flex;
    height: 200px;
    width: 400px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 16px;
    background-color: rgba(4, 82, 228, 0.377);
    gap: 100px;
    margin: 0;
}

.sub-header {
    
}

.upper-button {
    display: flex;
}

.photo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.secondary-header {
    display: flex;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.card {
    display: flex;
    height: 200px;
    width: 100px;
}

.testomonial {
    display: flex;
}

.quote {
    display: flex;
}

.sign-up {
    display: flex;
}

.lower-button {
    display: flex;
    height: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}